* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /*VARIÁVEIS DE FONTES*/
    --font-family: 'Poppins', Sans-serif;
    --text: 400 1rem/1.5 var(--font-family);
    --text-sm: 400 0.875rem/1.4 var(--font-family);

   /*VARIÁVEIS DE CORES*/
    --text-primary:#292524;
    --text-secondary:#57534E;
    --text-tertiary:#8F8881;
    --text-highlight:#E43A12;

    --surface-primary:#FFFFFF;
    --surface-secondary:#FEE7D6;

    --stroke-default:#D6D3D1;
    --stroke-highlight:#F3541C;
    --semantic-error:#DC2626;
}

body {
    overflow: hidden; /* nunca vai ter rolagem */
}

main {
    overflow: auto;
    padding: 4rem; /* 1 rem = 16px, 64/16 = 4rem */
}

main .main-container {
    max-width: 33rem;/* = 528px */
    margin-left: auto;
}

aside {
    background-color: var(--surface-secondary);
    padding: 4rem;/* = 64px */
}

aside .aside-container {
    max-width: 31rem;/* = 496px */
}